/* .MathUXGridContainer {
  background-color: lightskyblue;
  width: 1200px;
  height: 560px;
  margin: 0 auto;
  text-align: center;
}

.headerArea {
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  display: inline;
}

.playerPicArea {
  display: float;
  width: 25%;
  background-color: lightcoral;
  float: left;
  height: 320px;
}

.charImg {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.monsterPicArea {
  display: float;
  width: 25%;
  height: 320px;
  background-color: lightgray;
  float: right;
}

.monsterImg {
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  margin-top: 0;
}

.mathQuestionArea {
  display: inline-block;
  background-color: lightyellow;
  width: 45%;
  height: 320px;
}

.questionText {
  font-size: 50px;
  margin-top: 10px;
}

.playerHealthArea {
  display: inline-block;
  float: left;
  background-color: rgb(117, 221, 117);
  margin-left: 40px;
}

.criticalHitArea {
  display: inline-block;
  background-color:  rgb(117, 221, 117);
}

.monsterHealthArea {
  display: inline-block;
  float: right;
  background-color: green;
  margin-right: 40px;
} */